* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

body {

}

.chalkboard {
  font-family: "Chalkboard SE";
}

.pink {
  color: rgb(237, 126, 110);
}

.homepage {
  background-color: #ed7e6e;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.helloPantry {
  padding: 30px;
  /*padding-top: 30px;
  padding-bottom: 30px;*/
  width: 100%;
}

.logo {
  width: 70%;
}

.flush-left {
  max-width: 1140px;
  margin: 0 20px;
}

.header-logo {
  width: 50%;
  /*float: left;*/
}

.header {
  background-color: #ed7e6e;
  /*height: 95px*/
}

.section.group.header {
    margin-bottom: 20px
}

.header-link {
  font-family: "Chalkboard SE";
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 4.0;
}

.header-link:active,
.header-link:focus,
.header-link:hover,
.header-link:visited{
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.button-box {
  width: 170px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.button {
  font-family: "Chalkboard SE";
  color: rgb(237, 126, 110);
  font-size: 30px;
  position: relative;
  margin-left: 5px;
}

.buttons {
  /*padding-top: 90px;*/
  padding: 5%;
}

a.button,
a.button:active,
a.button:focus,
a.button:hover {
  text-decoration: none;
}

.pantries {
  margin: 0 20px !important;
}

.pantrycard {
  padding: 10px;
  border: 4px;
  border-style: solid;
  border-color: rgb(237, 126, 110);
  margin: 10px;
  width: 25%;
  text-align:center;
  border-radius: 10px;
}

.pantryname {
  font-family: "Studio Lettering";
  color: rgb(237, 126, 110);
  font-size: 40px;
  padding: 25px;
}

.pantryname a {
  color: rgb(237, 126, 110);
}


.pantryname a:hover {
  color: #1bbcc4;
}

.updated {
  text-align: right;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  .span-2-of-2 {
		width: 100% !important;
	}
	.span-1-of-2 {
		width: 100% !important;
	}

  .logo {
    width: 60%;
    padding-left: 30px;
  }

  .helloPantry {
    width: 80%;
  }

  .header-logo {
    padding-top: 30px;
  }

  .header-link {
    line-height: 1.5;
  }
}




/*@media(min-width: 1000px) {
  .logo {
    width: 80%;
  }
}

@media(min-width: 701px) and (max-width:999px){
  .logo {
    width: 40%;
  }
}

@media(min-width: 501px) and (max-width: 700px) {
  .helloPantry {
    width: 100%;
  }

  .logo {
    width: 60%;
  }
}

@media(max-width: 500px) {
  .helloPantry {
    width: 100%;
  }

  .logo {
    width: 60%;
  }
}*/

/*.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -25%);
}*/


.pantry {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  top: 10px;

}

.pantry:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main {
  margin-bottom: 0px;
}
